mixin pager(pageData)
    if pageData.current != 1
        - var prevPage = parseInt(pageData.current) - 1
        a(href='/discussions-list?q=#{pageData.query}&p=#{prevPage}')
            span.prev Prev
    if pageData.current < 5 && pageData.end > 5
        - for(var i=1;i<=5;i++)
            if i == pageData.current
                a(href='/discussions-list?q=#{pageData.query}&p=#{i}')
                    span.pageNum.current #{i}
        span.page.dots ...
        a(href='/discussions-list?q=#{pageData.query}&p=#{pageData.end}')
            span.pageNum #{pageData.end}
    else if pageData.current < 5 && pageData.end < 5
        - for(var i=1;i<=pageData.end;i++)
            if i == pageData.current
                a(href='/discussions-list?q=#{pageData.query}&p=#{i}')
                    span.pageNum.current #{i}
            else
                a(href='/discussions-list?q=#{pageData.query}&p=#{i}')
                    span.pageNum #{i}
    else
        a(href='/discussions-list?q=#{pageData.query}&p=1')
                span.pageNum 1
        span.page.dots ...
        - for(var i=pageData.currPage-2;i <= pageData.currPage + 2;i++)
            if i == pageData.current
                a(href='/discussions-list?q=#{pageData.query}&p=#{i}')
                    span.pageNum.current #{i}
            else
                a(href='/discussions-list?q=#{pageData.query}&p=#{i}')
                    span.pageNum #{i}
        span.page.dots ...
        a(href='/discussions-list?q=#{pageData.query}&p=#{pageData.end}')
                span.pageNum #{pageData.end}
    if pageData.current != pageData.end && pageData.end != 0
        - var nextPage = parseInt(pageData.current) + 1
        a(href='/discussions-list?q=#{pageData.query}&p=#{nextPage}')
                span.pageNum Next

- var _pageData = pageData
+pager(_pageData)